GNUmakefile
*.aux
*.log
*.toc
*.o
*.diff
*.rej
*.orig
*.bak
*.patch
*.a
deskhpsdr
deskHPSDR.app
hpsdrsim
wdspWisdom*
*.props
ip.addr
hpsdr.png
.DS_Store
DEPEND
DEPEND.bak
nr4-install.txt
nr4/*
wdsp-nr4-newlibs/*
hamlib-static/
MacOS/rigctld_deskhpsdr
LINUX/rigctld_deskhpsdr
LINUX/SoapySDR
LINUX/SoapyPlutoSDR
LINUX/SoapyRTLSDR
wdsp-1.27/libwdsp.a
wdsp-1.27/*.o
wdsp-1.28/libwdsp.a
wdsp-1.28/*.o
wdsp-1.29/libwdsp.a
wdsp-1.29/*.o
libsolar/libsolar.a
libsolar/*.o
libtelnet/libtelnet.a
libtelnet/*.o
make.config.deskhpsdr
.vscode/*
src/.vscode/*
./deskhpsdr
./deskhpsdr.app
./hpsdrsim
.WDSP_libs_updated
./wdspWisdom*
HL2-Tools/hl2_eeprom_discovery
HL2-Tools/hl2_ip_tool
