GNUmakefile
*.aux
*.log
*.toc
*.o
*.diff
*.rej
*.orig
*.bak
*.patch
deskhpsdr
deskHPSDR.app
hpsdrsim
wdspWisdom*
*.props
ip.addr
hpsdr.png
.DS_Store
LINUX/SoapySDR
LINUX/SoapyPlutoSDR
LINUX/SoapyRTLSDR
release/LatexManual/piHPSDR-Manual.pdf
wdsp/WDSP_Guide.pdf
wdsp/libwdsp.a
make.config.deskhpsdr
.vscode/*
src/.vscode/*
