GNUmakefile
*.aux
*.log
*.toc
*.o
*.diff
*.rej
*.orig
*.bak
*.patch
*.a
deskhpsdr
deskHPSDR.app
hpsdrsim
wdspWisdom*
*.props
ip.addr
hpsdr.png
.DS_Store
DEPEND
DEPEND.bak
hamlib-static/
MacOS/rigctld_deskhpsdr
LINUX/rigctld_deskhpsdr
LINUX/SoapySDR
LINUX/SoapyPlutoSDR
LINUX/SoapyRTLSDR
wdsp/WDSP_Guide.pdf
wdsp/libwdsp.a
wdsp/*.o
wdsp-1.26/libwdsp.a
wdsp-1.26/*.o
libsolar/libsolar.a
make.config.deskhpsdr
.vscode/*
src/.vscode/*
./deskhpsdr
./deskhpsdr.app
./hpsdrsim
./wdspWisdom*
