# CC     = clang
MIDI     = ON
SATURN   = OFF
USBOZY   = OFF
SOAPYSDR = OFF
STEMLAB  = OFF
TTS      = OFF
AUDIO    = PULSE
COPYMODE = OFF
AUTOGAIN = OFF
REGION1  = OFF
EQ12     = OFF
AH4IOB   = OFF
DEVEL    = OFF
TAHOEFIX = ON
