<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.deskhpsdr.app</string>
	<key>CFBundleName</key>
	<string>deskHPSDR</string>
	<key>CFBundleDisplayName</key>
	<string>deskHPSDR</string>
	<key>CFBundleExecutable</key>
	<string>deskhpsdr</string>
	<key>CFBundleIconFile</key>
	<string>radio.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6</string>
	<key>CFBundleVersion</key>
	<string>20666</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow for using Sound input devices</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Allow discovery and communication with devices via UDP</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_udp._udp</string>
	</array>
	<key>NSLocalNetworkAllowBroadcasts</key>
	<true/>
	<key>NSLocalNetworkPorts</key>
	<array>
		<string>1024</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
</dict>
</plist>
