<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.dl1bz.deskhpsdr.sysctl</string>
    <key>Program</key>
    <string>/usr/sbin/sysctl</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/sbin/sysctl</string>
	<string>kern.ipc.maxsockbuf=8388608</string>
	<string>net.inet.udp.recvspace=8388608</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>

